{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ course.title }} Detail - Edukate</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="{{ course.overview|truncatechars:150 }}" name="description">

    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
    <style>
        .module-header {
            cursor: pointer;
            padding: 15px;
            background-color: #dfe1e4;
            border: 1px solid #dbe0e5;
            margin-bottom: 5px;
            border-radius: 5px;
        }
        .module-content {
            padding: 10px 15px;
            border: 1px solid #dbd9e3;
            border-top: none;
            display: none;
            background-color: #ece6e6;
        }
    </style>
</head>

<body>
    {% comment %} {% include "upskill/includes/navbar.html" %}  {% endcomment %}
    <div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
        <div class="container text-center py-5">
            <h1 class="text-white display-1">Course Detail</h1>
            <div class="d-inline-flex text-white mb-5">
                <p class="m-0 text-uppercase"><a class="text-white" href="#">Courses</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">{{ course.title|truncatechars:30 }}</p>
            </div>
            <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Courses</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Courses 1</a>
                            <a class="dropdown-item" href="#">Courses 2</a>
                            <a class="dropdown-item" href="#">Courses 3</a>
                        </div>
                    </div>
                    <input type="text" class="form-control border-light" style="padding: 30px 25px;" placeholder="Keyword">
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-4 px-lg-5">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <div class="section-title position-relative mb-5">
                            <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">{{ course.subject.title }}</h6>
                            <h1 class="display-4">{{ course.title }}</h1>
                        </div>
                        <img class="img-fluid rounded w-100 mb-4" src="{{ course.get_image_url }}" alt="{{ course.title }} rasmi">
                        
                        <h3 class="mb-3">Kurs haqida</h3>
                        <p>{{ course.overview|linebreaks }}</p>

                        <hr>
                        
                        <h2 class="mb-4">Kurs Mazmuni ({{ course.modules.count }} Modul)</h2>
                        <div id="course-accordion">
                            {% for module in course.modules.all %}
                                <div class="card mb-2">
                                    <div class="module-header d-flex justify-content-between align-items-center" id="heading-{{ module.id }}" data-toggle="collapse" data-target="#collapse-{{ module.id }}">
                                        <h5 class="m-0 text-primary">{{ forloop.counter }}. {{ module.title }}</h5>
                                        <i class="fa fa-chevron-down"></i>
                                    </div>
                                    <div id="collapse-{{ module.id }}" class="collapse module-content" aria-labelledby="heading-{{ module.id }}" data-parent="#course-accordion">
                                        {% if module.overview %}
                                            <p class="mb-2">{{ module.overview|linebreaksbr }}</p>
                                            <hr>
                                        {% endif %}

                                        <ul class="list-group list-group-flush">
                                            {% for content in module.contents.all %}
                                                <li class="list-group-item d-flex align-items-center">
                                                    {% if content.item.content_type.model == 'video' %}
                                                        <i class="fa fa-video text-primary mr-2"></i>
                                                        <a href="#" class="text-decoration-none">Dars: {{ content.item.title }}</a>
                                                    {% elif content.item.content_type.model == 'text' %}
                                                        <i class="fa fa-file-alt text-primary mr-2"></i>
                                                        <a href="#" class="text-decoration-none">O'qish: {{ content.item.title }}</a>
                                                    {% elif content.item.content_type.model == 'file' %}
                                                        <i class="fa fa-file-download text-primary mr-2"></i>
                                                        <a href="#" class="text-decoration-none">Yuklab olish: {{ content.item.title }}</a>
                                                    {% elif content.item.content_type.model == 'image' %}
                                                        <i class="fa fa-image text-primary mr-2"></i>
                                                        <a href="#" class="text-decoration-none">Rasm: {{ content.item.title }}</a>
                                                    {% else %}
                                                        <i class="fa fa-thumbtack text-primary mr-2"></i>
                                                        <a href="#" class="text-decoration-none">{{ content.item.title }}</a>
                                                    {% endif %}
                                                </li>
                                            {% empty %}
                                                <li class="list-group-item">Bu modulda hali kontent mavjud emas.</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <h2 class="mb-3">Tegishli kurslar</h2>
                    <div class="owl-carousel related-carousel position-relative" style="padding: 0 30px;">
                        {% for r_course in related_courses %}
                        <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="{% url 'upskill:detail' r_course.slug %}">
                            <img class="img-fluid" src="{{ r_course.get_image_url }}" alt="{{ r_course.title }}">
                            <div class="courses-text">
                                <h4 class="text-center text-white px-3">{{ r_course.title|truncatechars:50 }}</h4>
                                <div class="border-top w-100 mt-3">
                                    <div class="d-flex justify-content-between p-4">
                                        <span class="text-white"><i class="fa fa-user mr-2"></i>{{ r_course.owner.full_name|default:"Noma'lum" }}</span>
                                        <span class="text-white">
                                            <i class="fa fa-star mr-2"></i>{{ r_course.rating|floatformat:1 }}
                                            <small>({{ r_course.total_reviews }})</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% empty %}
                        <p>Tegishli kurslar topilmadi.</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <div class="bg-primary mb-5 py-3">
                        <h3 class="text-white py-3 px-4 m-0">Kurs Haqida</h3>
                        
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="text-white my-3">O'qituvchi</h6>
                            <h6 class="text-white my-3">{{ course.owner.full_name|default:"Tafsilotlar yo'q" }}</h6>
                        </div>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="text-white my-3">Reyting</h6>
                            <h6 class="text-white my-3">
                                <i class="fa fa-star text-warning"></i> {{ course.rating|floatformat:1 }} 
                                <small>({{ course.total_reviews }})</small>
                            </h6>
                        </div>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="text-white my-3">Darslar Soni</h6>
                            <h6 class="text-white my-3">{{ course.total_lectures }} ta</h6>
                        </div>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="text-white my-3">Umumiy Davomiylik</h6>
                            <h6 class="text-white my-3">{{ course.duration_hours|floatformat:1 }} Soat</h6>
                        </div>
                        <div class="d-flex justify-content-between border-bottom px-4">
                            <h6 class="text-white my-3">Darajasi</h6>
                            <h6 class="text-white my-3">{{ course.skill_level }}</h6>
                        </div>
                        <div class="d-flex justify-content-between px-4">
                            <h6 class="text-white my-3">Til</h6>
                            <h6 class="text-white my-3">O'zbek/Ingliz</h6> 
                        </div>

                        <h5 class="text-white py-3 px-4 m-0">
                            Kurs Narxi: 
                            {% if course.price > 0 %}
                                ${{ course.price|floatformat:2 }}
                            {% else %}
                                Bepul!
                            {% endif %}
                        </h5>

                        <div class="py-3 px-4">
                            <a class="btn btn-block btn-secondary py-3 px-5" href="">Ro'yxatdan O'tish</a>
                        </div>
                    </div>

                    <div class="mb-5">
                        <h2 class="mb-3">Kategoriyalar</h2>
                        <ul class="list-group list-group-flush">
                            {% for subject in subjects %}
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    <a href="" class="text-decoration-none h6 m-0">{{ subject.title }}</a>
                                    <span class="badge badge-primary badge-pill">{{ subject.courses.count }}</span>
                                </li>
                            {% endfor %}
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <a href="" class="text-decoration-none h6 m-0">Web Design</a>
                                <span class="badge badge-primary badge-pill">150</span>
                            </li>
                            </ul>
                    </div>

                    <div class="mb-5">
                        <h2 class="mb-4">So'nggi Kurslar</h2>
                        <a class="d-flex align-items-center text-decoration-none mb-4" href="">
                            <img class="img-fluid rounded" src="{% static 'img/courses-80x80.jpg' %}" alt="">
                            <div class="pl-3">
                                <h6>Web design & development courses for beginners</h6>
                                <div class="d-flex">
                                    <small class="text-body mr-3"><i class="fa fa-user text-primary mr-2"></i>Jhon Doe</small>
                                    <small class="text-body"><i class="fa fa-star text-primary mr-2"></i>4.5 (250)</small>
                                </div>
                            </div>
                        </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} {% include "upskill/includes/footer.html" %}  {% endcomment %}
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    
    <script>
        $(document).ready(function() {
            // Modul sarlavhasini bosganda kontentni ochish/yopish
            $('.module-header').on('click', function() {
                // Faqat bitta content ochilishini ta'minlash uchun qolganlarini yopish
                if(!$(this).next('.module-content').hasClass('show')) {
                    $('.module-content').slideUp();
                }
                
                // Bosilgan sarlavhaning kontentini ochish/yopish
                $(this).next('.module-content').slideToggle(300);
                
                // Fa ikonkasini almashtirish
                $(this).find('i').toggleClass('fa-chevron-down fa-chevron-up');
                
                // Boshqa barcha fa ikonalarini pastga qaratish
                $('.module-header').not(this).find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
            });
        });
    </script>
</body>

</html>